.articles {
  background: #f3f5f8;
  height: 700px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding-top: 100px;

  .founder {
    width: 30%;

    h1 {
      color: #0046a7;
      margin-bottom: 20px;
    }

    p {
      color: rgb(78, 78, 78);
      line-height: 27px;
    }

    .about-founder {
      margin-top: 40px;
      span {
        color: #0046a7;
        font-weight: bolder;
        font-size: 16px;
        text-transform: uppercase;
      }
      p {
        color: rgba(0, 0, 0, 0.584);
        font-size: 14px;
      }
    }
  }

  .articles-container {
    width: 56%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .card {
      width: 300px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      min-height: 420px;
      opacity: 0;
      transition: 1s all;
      animation: fade-in 1s linear forwards;

      @keyframes fade-in {
        100% {
          opacity: 1;
        }
      }

      .image {
        width: 300px;
        height: 220px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        transition: 0.6s all;
        position: relative;
        z-index: 1;

        &::before {
          content: "";
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          position: absolute;
          border-radius: 10px;
          transition: 0.6s all;
        }

        button {
          position: absolute;
          top: 35%;
          left: 30%;
          transform: translate(-50%, -50%);
          background-color: rgb(0, 0, 0);
          border-radius: 0;
          width: 120px;
          display: none;
          transition: 0.5s all;
          font-weight: 500;
          opacity: 1;
          z-index: 100;
        }

        &:hover {
          transition: 1s all;

          &::before {
            background-color: rgba(247, 247, 247, 0.6);
            transition: 1s all;
          }

          button {
            animation: out 0.3s linear forwards;
            display: block;
            transform: scale(0.6);
            background: rgba(0, 0, 0, 0.918);
            backdrop-filter: blur(2px);
            border-radius: 10px;
            transition: 1s all;
            font-weight: 500;
          }

          @keyframes out {
            100% {
              transform: scale(1);
            }
          }
        }

        img {
          max-width: 100%;
          min-height: 100%;
          border-radius: 10px;
          border: 3px solid rgba(255, 255, 255, 0.3);
        }
      }

      h1 {
        color: #0046a7;
        font-weight: bolder;
        font-size: 16px;
        text-transform: uppercase;
        margin: 20px 0;
      }

      p {
        color: rgb(78, 78, 78);
        line-height: 27px;
      }

      button {
        outline: none;
        border: 0;
        background: #0046a7;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        color: white;
        font-weight: bolder;
        margin-top: 20px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
        cursor: pointer;
      }
    }
  }
}
