.home {
  height: 110vh;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  .heading,
  .para {
    opacity: 0;
    backdrop-filter: blur(1px);
  }

  .heading {
    margin: 30px;
    animation: 0.6s heading-animation linear forwards;
    transform: translateY(150px);
    margin-top: 140px;
  }

  .para {
    width: 60%;
    transform: translateX(200px);
    animation: 1s para-animation linear forwards;
    animation-delay: 0.6s;
    line-height: 24px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 25px;
  }

  button {
    outline: none;
    padding: 15px 7px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.01);
    z-index: 10;
    width: 200px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    font-weight: lighter;
    border-radius: 40px;
    text-transform: capitalize;
    backdrop-filter: blur(4px);
    cursor: pointer;
    overflow: hidden;
    transition: 0.8s all;
    margin-top: 10px;

    &:hover::before,
    &:hover::after {
      width: 100%;
    }

    &::before {
      content: "";
      background-color: rgb(42, 39, 219);

      width: 0;
      height: 3px;
      position: absolute;
      top: -0px;
      left: 0;
      transition: 0.8s all;
    }

    &::after {
      content: "";
      background-color: rgb(42, 39, 219);
      width: 0;
      height: 3px;
      position: absolute;
      bottom: 0px;
      right: 0;
      transition: 0.8s all;
    }
    p {
      font-size: 15px;
      text-align: center;
    }
  }

  @keyframes heading-animation {
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes para-animation {
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
