.service-card {
  min-height: 250px;
  width: 300px;
  margin: 50px 20px;
  border: 3px solid #25508c;
  color: white;
  padding: 20px;
  padding-top: 50px;
  position: relative;
  opacity: 0;
  transition: 1s all;
  animation: fade-in 1s linear forwards;
  transform: translateY(100px);
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.4);

  @keyframes fade-in {
    100% {
      opacity: 1;
      transform: translateY(0);
      box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.15);
    }
  }

  &:hover {
    border-color: red;
  }

  &:first-child {
    border-color: white;
  }

  .icons {
    width: 50px;
    height: 50px;
    position: absolute;
    fill: white;
    top: -30px;
    left: 20px;
    background: #07245f;
    width: 70px;
    padding: 0 10px;
  }

  h2 {
    font-size: 17px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  p {
    font-size: 14px;
    color: gray;
    line-height: 24px;
  }
}
